body {
  	font-family:"微软雅黑";
  	background-color:#eee;
  	min-height:2000px;
}
.navbar{
	margin-bottom:0;
}
.navbar-brand img{
	display:inline-block;
	width:30px;
	margin-top:-5px;
	margin-right:5px;
}
.carousel-indicators{
	bottom:-5px;
}
.p-divide > span{
	display:inline-block;
	width:100%;
	height:60px;
	background-color:rgba(207, 207, 207, 0.3);
	text-decoration: none;
	text-align:center;
	padding-top:12px;
	font-size:20px;
	transition:padding-top .3s;
}
a.p-divide :hover{
	background-color:rgba(207, 207, 207, 0.5);
	padding-top:20px;

}
.p-jumbotron{
	width:90%;
	margin:0 auto;
	font-family:"Microsoft Yahei";
	background-color:#333;
}
.p-jumbotron > a{
	color:#333;
	display:inline-block;
	width:100%;
	height:100%;
	background-color:#eee;
	border-bottom:2px solid #333;
	text-decoration: none;
	position:relative;
	padding:10px 10px 10px 0;
	left:0;
	transition:left .3s, padding-left .3s;
}
.p-jumbotron > a:hover{
	left:10px;
	padding-left:10px;
}
.p-jumbotron time{
	position:relative;
	top:-5px;
	padding:5px 8px;
	background-color:#113346;
	color:#eee;
	font-weight:bold;
}